<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>在线空调系统能耗评估平台 - 找回/修改密码</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-flex">
                        <img src="{{ url_for('static', filename='img/bg_arch.jpeg') }}" class="bg-login-image">
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 id="heading" class="h4 text-gray-900 mb-2">忘记/修改密码?</h1>
                                <p class="mb-4">请输入该账号绑定的邮箱，我们将发送验证码至该地址，验证成功后即可重置账号密码！</p>
                            </div>
                            <form id="resetPwdForm" class="user" name="reset" action="{{ url_for("reset") }}" method="POST">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="请输入账号注册时绑定的邮箱地址..." required>
                                    <div id="emailMsgDiv"></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0  align-content-center">
                                    <input id="validCode" type="text" name="validCode" class="form-control form-control-user"
                                        id="inputValidCode" aria-describedby="validCOdeHelp"
                                        placeholder="请输入验证码" required>
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input id="sendCodeBtn" type="button" class="btn btn-primary btn-user btn-block" value="发送验证码">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" name="password" class="form-control form-control-user"
                                            id="inputPassword" placeholder="请输入密码" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" name="repeatPassword" class="form-control form-control-user"
                                            id="repeatPassword" placeholder="请重复输入密码" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-auto">
                                        <div id="pwdDiv" class="text-center text-xs text-success">
                                            <i class="fas fa-info-circle"></i>
                                                您的密码应当为字母[A-Z,a-z]和数字[0-9]的任意组合，长度为8-20个字符。
                                        </div>
                                    </div>
                                </div>
                                <input id="resetBtn" type="button" class="btn btn-primary btn-user btn-block" value="重置密码">
                                {{ form.csrf_token }}
                                <div id="msgDiv" class="text-center">&nbsp;</div>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{{ url_for('register') }}">注册新账号!</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{{ url_for('login') }}">已有账号？ 登录!</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{{ url_for('homepage') }}">不注册，回到主页</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
    <script src="https://cdn.bootcss.com/layer/2.2/layer.js"></script>
    <script src="https://cdn.bootcss.com/layer/2.2/extend/layer.ext.js"></script>
    <script>
        function checkPwd(pwd){
            var reg =/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,20}$/
            var re = new RegExp(reg)
            if (re.test(pwd)) {
                return true;
            }else{
                return false;
            }
        }
        function checkPassword(password1, password2){
            var msgDiv = document.getElementById('msgDiv');
            let childList = msgDiv.getElementsByTagName('span');
            for(var i = childList.length-1; i >= 0; i--){
                msgDiv.removeChild(childList[i]);
            }
            if(password1 != password2){
                var errorSpan = document.createElement('span');
                errorSpan.className="text-danger text-xs";
                errorSpan.innerHTML="两次输入密码不一致，请检查并重新输入！";
                msgDiv.appendChild(errorSpan);
                return false;
            }else{
                if(checkPwd(password1) == false){
                    var errorSpan = document.createElement('span');
                    errorSpan.className="text-danger text-xs";
                    errorSpan.innerHTML="密码为空或格式不符合要求，请检查并重新输入！";
                    msgDiv.appendChild(errorSpan);
                    return false;
                }else{
                    msgDiv.innerHTML = " ";
                    return true;
                }
            }
        }
        function sendValidCode(){
            let email = $('#exampleInputEmail').val();
            {# 做email格式检查,如果格式对，再发到后端，若不对则在前端显示提示 #}
            var reg01 = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
            if(email != ""){
                if (reg01.test(email)) {
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('sendValidCode') }}",
                        contentType: "application/json;charset=UTF-8",
                        async: true,
                        data: JSON.stringify({'email': email}),
                        dataType: "text",
                        success: function(msg){
                            let data = JSON.parse(msg)
                            if(data['msg'] == 'error'){
                                layer.msg('该邮箱未被注册！', {
                                    icon: 5,
                                    time: 1000
                                });
                            }else{
                                layer.msg('验证码已成功发送，2分钟内有效！', {
                                    icon: 6,
                                    time: 1000
                                });
                                $('#sendCodeBtn').attr("disabled", true);
                                const TOTAL_TIME = 60;
                                let count = TOTAL_TIME;
                                let timer = setInterval(()=>{
                                    if(count > 0 && count <= TOTAL_TIME){
                                        count--;
                                        $("#sendCodeBtn").val(count.toString()+"秒后可重发")
                                    }else{
                                        clearInterval(timer);
                                        $('#sendCodeBtn').val("发送验证码");
                                        $('#sendCodeBtn').attr("disabled", false);
                                    }
                                },1000);
                            }
                        }
                    })
                } else {
                    layer.msg('请输入正确邮箱', {
                        icon: 5,
                        time: 1000
                    });
                }
            }else{
                layer.msg('邮箱地址为空！',{
                    icon: 5,
                    time: 1000
                })
            }
        }
        Date.prototype.format = function(fmt) {
            var o = {
                "M+" : this.getMonth()+1,                 //月份
                "d+" : this.getDate(),                    //日
                "h+" : this.getHours(),                   //小时
                "m+" : this.getMinutes(),                 //分
                "s+" : this.getSeconds(),                 //秒
                "q+" : Math.floor((this.getMonth()+3)/3), //季度
                "S" : this.getMilliseconds()             //毫秒
            };
            if(/(y+)/.test(fmt)) {
                fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
            }
            for(var k in o) {
                if(new RegExp("("+ k +")").test(fmt)){
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
                }
            }
            return fmt;
        }
        function sendResetRequest(){
            let user_obj = {'username': $("#exampleInputEmail").val(), 'code': $('#validCode').val(),
                            'password': $("#inputPassword").val(), 'repeatPassword': $("#repeatPassword").val(),
                            'inputTime': new Date().format("yyyy-MM-dd hh:mm:ss")};
            var msgDiv = document.getElementById('msgDiv');
            let email = $("#exampleInputEmail").val();
            var reg01 = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
            if(email != ""){
                if (reg01.test(email)) {
                    if(checkPassword($("#inputPassword").val(),$("#repeatPassword").val())){
                        $.ajax({
                            type: "POST",
                            url: '{{ url_for('handleReset') }}',
                            contentType: "application/json;charset=UTF-8",
                            async: true,
                            data: JSON.stringify(user_obj),
                            dataType: "text",
                            success: function(msg){
                                msgDiv.innerHTML="";
                                if(msg.startsWith("error: ")){
                                    var errorSpan = document.createElement('span');
                                    errorSpan.className="text-danger text-xs";
                                    errorSpan.innerHTML=msg.substring(msg.indexOf(':')+1);
                                    msgDiv.appendChild(errorSpan);
                                }else{
                                    var successSpan = document.createElement('span');
                                    successSpan.className="text-success text-xs";
                                    successSpan.innerHTML="密码重置成功，跳转至登录页面！";
                                    msgDiv.appendChild(successSpan);
                                    setTimeout(function(){
                                        $("#resetPwdForm").submit();
                                    },500);
                                }
                            },
                            error: function (err){
                                console.log(err);
                                var errorSpan = document.createElement('span');
                                errorSpan.className="text-danger text-xs";
                                errorSpan.innerHTML="密码重置失败，请重试！"
                                msgDiv.appendChild(errorSpan);
                            }
                        });
                    }
                } else {
                    layer.msg('请输入正确邮箱', {
                        icon: 5,
                        time: 1000
                    });
                }
            }else{
                layer.msg('邮箱地址为空！',{
                    icon: 5,
                    time: 1000
                })
            }
        }
        $(window).on("load",function () {
            var rbtn = document.getElementById('resetBtn');
            rbtn.onclick = sendResetRequest;
            var sendCodeBtn = document.getElementById('sendCodeBtn');
            sendCodeBtn.onclick = sendValidCode;
        });
    </script>
</body>

</html>